body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-color: #141414;
    font-weight: 600;
}


footer {
    font-family: 'Poppins', sans-serif;
    background: #121212;
    padding: 20px 23px;
    
    color: #fff;
    text-align: center;
}
footer span a {
    color: #22b4b7;
    text-decoration: none;
}
footer span a:hover {
    text-decoration: underline;
}